/* Schermi fino a 768px (tablet e smartphone) */
@media (max-width: 768px) {
    .home {
        background-size: cover;
        height: auto;
    }

    main {
        margin: 5%;
        font-size: medium;
    }

    .navbar-collapse {
        padding-left: 5%;
    }

    .form {
        width: 90%;
        left: 5%;
        padding: 20px;
        margin-top: 20px;
    }

    .inputForm {
        height: 40px;
    }

    .button-submit {
        height: 45px;
        font-size: 14px;
    }

    h2, h3 {
        font-size: 1.5rem;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img_prodotti {
        width: 150px;
        height: 180px;
    }

    .card {
        padding: 15px;
        transform: scale(1.05);
    }

    .card:hover {
        transform: scale(1.1);
    }

    .button {
        font-size: 13px;
        padding: 0.8em 1.5em;
    }

    .button_compra {
        position: static;
        margin: 10px auto;
        display: block;
        text-align: center;
    }

    .button_signin {
        font-size: 20px;
    }
}

/* Schermi più piccoli di 480px (smartphone piccoli) */
@media (max-width: 480px) {
    main {
        margin: 3%;
        font-size: small;
    }

    .navbar-nav a {
        font-size: medium;
    }

    .form {
        padding: 15px;
    }

    .input {
        width: 80%;
    }

    .button-submit {
        font-size: 12px;
    }

    h2, h3 {
        font-size: 1.2rem;
    }

    .img_prodotti {
        width: 120px;
        height: 150px;
    }

    .card {
        padding: 10px;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .button {
        font-size: 12px;
    }

    .button_compra {
        font-size: small;
        margin: 10px auto;
    }
}
