/* Base CSS */
body {
    margin: 0;
    padding: 0;
}

.home {
    background-image: url(terreno.jpg);
    background-size: cover;
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat;
    height: 100vh; /* Altezza intera del dispositivo */
    width: 100%;
}

header {
    font-style: italic;
}

/* Navbar link */
.navbar-nav a {
    color: rgb(128, 128, 128);
    transition: color 0.3s ease;
    font-size: large;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.button_compra {
    margin-left: auto; /* Allinea a destra */
}

.button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #865434;
    background: transparent;
    transition: all 0.3s;
    outline: 2px solid #865434;
}

.button:hover {
    background-color: #865434;
    color: white;
    box-shadow: 2px 3px 10px -2px #865434;
}

footer {
    text-align: center;
    background-color: rgb(51, 38, 32);
    color: white;
    padding: 10px;
}

/* Media query per schermi piccoli */
@media (max-width: 992px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        margin: 0 auto;
    }

    .button_compra {
        margin: 10px auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar-nav a {
        font-size: medium;
        padding: 10px 0;
    }

    .button_compra {
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        width: 35px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    .button {
        font-size: 12px;
        padding: 0.5em 0.8em;
    }
}
